.mainHeader {
    background-color: #FFAA60;
    margin-bottom: 2rem;
    min-height: 8vh;
}

.mainHeader .logo {
    margin: 0;
}

.mainHeader-nav {
    text-align: right;
}

.mainHeader-nav .login {
    background-color: rgba(255,255,255,0.2);
    border-radius: 38px;
    font-size: 20px;
    padding: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

.mainHeader-nav .login i {
    margin-right: 10px;
}

.mainContent {
    min-height: 84vh;
}

.footer {
    background-color: #FBFAF9;
    border-top: 1px solid #EBEBEE;
    min-height: 8vh;
}

.footer .logo-footer {
    width: 80px;
    height: 105px;
    margin: 10px;
}

.footer .social {
    list-style: none;
    text-align: right;
}

.footer .social li a {
    color: #6C6A69;
    font-weight: 500;

    display: inline-block;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 2.7;
}

.footer .social .compartilhar-facebook {
    background-image: url('/static/images/facebook.png');
}

.footer .social .compartilhar-twitter {
    background-image: url('/static/images/twitter.png');
}